{% extends "::base.html.twig" %}

{% block title %}

{% endblock %}

{% block body %}
<h1> Welcome anonymous {{username}}</h1>
<h3> Derniere requete => Il y a {{time}} secondes </h3>
<a href="/e01/login/"> Login </a>
<a href="/e01/register/"> Register </a>

{% endblock %}
